.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            | Continue with Github
    button.socail-login--kakao
        span
         a(href=routes.kakao)
            span
                img.image(src="http://k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg")